
        body{
          margin: 0;
          padding: 0;
        }

        #container{
          display: flex;
          flex-grow: 20px;
          /*border: 2px solid green;*/
        }



      #sidebar{
        flex: 6;
        height: 3000px;
        width: 200px;
        /*border:  2px  solid red;*/
        position: fixed;
        background: teal;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      }
      input{
        width: 150px;
      }

     #main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 200px;
      }
      img{
        width: 250px;
        height: 150px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }

      #main div{

        /*border: 2px solid red;*/
        width: 260px;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 20px;
        cursor: pointer;
      }

      p{
        font-family: sans-serif;
      }

      #par{

        font-weight: 900;
      }

      li{

        list-style: none;
        font-size: 20px;
        padding-bottom: 20px;
        font-family: sans-serif;
        color: white;
        font-weight: 900;
      }

      ul{

      }